@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

.headr {
    box-sizing: border-box;
    margin: 0;
    /* background-color: #1f2833; */
}

.header_button, .header_item, .contact, .header_a, .header_selected{
    font-family: "Merriweather",  sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f3;
    text-decoration: none;
}

.header_selected{
    color: #45a29e;
    cursor: pointer;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgba(11, 12, 16, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7%;
    z-index: 10;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #45a29e;
    font-size: 19px;
}



.header_button{
    margin-left: 50px;
    padding: 9px 25px;
    background-color: rgb(76, 204, 195);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header_button:hover{
    background-color: rgb(86, 233, 223);
    transform: scale(1.06);
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
  }


/* ----------------------------------------------- */
/* End of styling the header */
/* ----------------------------------------------- */

:root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: #0b0c10;
    color: #c5c6c7;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 7em 2em;
    border-bottom: 5px solid #c5c6c7;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: 900
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.title {
    margin-bottom: .25em;
}

.title--intro {
    font-weight: 300;
}

.title--intro strong {
    display: block;
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.subtitle--intro {
    background: #66fcf1;
    padding: .25em 1em;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1em;
    color: #0b0c10;
}

.intro {
    position: relative;
}

.intro_img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

.subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }    
    
    .subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -3em;
        width: calc(100% + 1.5em);
    }
}


/* ----------------------------------------------- */
/* End of styling the intro page */
/* ----------------------------------------------- */


.me-abouts {
    background-color: #0b0c10;
    background-size: cover;
    color: #c5c6c7;
    text-align: center;
}

.title--abouts {
    color: #66fcf1;
    position: relative;
}

.title--abouts::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #fff;
    opacity: 0.25;
}

.abouts {
    margin-bottom: 4em;
}

.about {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .abouts {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .about + .about {
        margin-left: 2em;
    }
}


/* ----------------------------------------------- */
/* End of styling the about me page */
/* ----------------------------------------------- */


.logo-list{
    align-items: center;
    text-align: center;
    background-color: #0b0c10;
    background-image: url(img/programing.jpg);
    background-size: cover;
    color: #edf0f3;
}

.title--logos{
    color: #edf0f3;
    position: relative;
}

.title--logos::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #fff;
    opacity: 0.25;
}

.logos{
    margin-bottom: 6.5em;
}

.app_logo{
    height: 100px;
}

.logo_container {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

@media (min-width: 800px) {
    .logos {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .app_logo + .app_logo {
        margin-left: 2em;
    }
}

.logo_container .tooltiptext{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 600ms;
    width: 120px;
    background-color: rgba(197, 198, 199, 0.2);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}

.logo_container .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.logo_container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 600ms;
}




