@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

* {
    scroll-behavior: smooth;
}

html:focus-within {
    scroll-behavior: smooth;
}

.headr {
    box-sizing: border-box;
    margin: 0;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.resume_link {
    text-decoration: none;
}

.name_logo {
    font-family: "Merriweather", sans-serif;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    margin-right: auto;
}

.large-monitor {
    display: none;
}



.header_button,
.header_item,
.contact,
.header_a,
.header_selected {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f3;
    text-decoration: none;
}

.header_selected {
    color: #45a29e;
    cursor: pointer;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(11, 12, 16, 0.6);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 7%;
    z-index: 10;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #45a29e;
    font-size: 19px;
}



.header_button {
    margin-left: 50px;
    padding: 9px 25px;
    background-color: rgb(76, 204, 195);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header_button:hover {
    background-color: rgb(86, 233, 223);
    transform: scale(1.06);
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: cover;
    border-bottom: 5px solid #c5c6c7;
}

@media (max-width: 600px) {
    #myVideo {
        display: none;
    }
}


/* ----------------------------------------------- */
/* End of styling the header */
/* ----------------------------------------------- */

:root {
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    background: #0b0c10;
    color: #c5c6c7;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 7em 2em 4em 2em;
    border-bottom: 2px solid #c5c6c7;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: 900
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}

.title {
    margin-bottom: .25em;
}

.title--intro {
    font-weight: 300;
}

.title--intro strong {
    display: block;
}

.subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.subtitle--intro {
    background: #66fcf1;
    padding: .25em 1em;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 1em;
    color: #0b0c10;
}

.intro {
    position: relative;
    padding: 10em 2em;
    padding-top: 6em;
    border-bottom: 5px solid #c5c6c7;
}

.intro::before {
    content: "";
    background: url(img/iphone\ wall.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: cover;
}

.intro_img {
    box-shadow: 1em 1em 1.5em rgba(238, 238, 238, 0.1), 0.125em 0.125em 0.25em rgba(233, 233, 233, 0.1);
}

.subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        padding: 10em 2em;
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        border-bottom: none;
    }

    .intro::before {
        content: "";
        background: url(img/iphone\ wall.jpeg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        display: none;
    }

    .large-monitor {
        display: block;
    }

    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -3em;
        width: calc(100% + 1.5em);
    }
}

.intro_img .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 600ms;
    width: 200px;
    background-color: rgba(197, 198, 199, 0.2);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 105%;
    left: 50%;
    margin-left: -100px;
}

.intro_img .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
}

.intro_img:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 600ms;
}


/* ----------------------------------------------- */
/* End of styling the intro page */
/* ----------------------------------------------- */


#resume_tab2 {
    display: none;
    position: fixed;
    top: 50%;
    left: -170px;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    border: 0.5px solid rgba(86, 233, 223, 0.6);
    background-color: #0b0c10;
    border-radius: 5px;
    transition: 0.4s;
    color: rgba(86, 233, 223, 0.6);
    text-align: center;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    z-index: 9;
}

#resume_tab2:hover {
    border: 0.2px solid rgba(86, 233, 223, 0);
    background-color: rgba(60, 162, 158, 0.4);
    color: azure;
    font-weight: bolder;
    font-size: 30px;
    left: 160px;
    transform: translateX(-50%) translateY(-50%);
}

#shadow {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 8;
}


.resume_title2 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.res_img {
    position: absolute;
    top: 13%;
    left: 20%;
    filter: grayscale(50%);
    width: 60%;
    height: 60%;
}

.res_link {
    box-sizing: border-box;
    position: absolute;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: rgba(60, 162, 158, 0);
    border: 0px solid azure;
    transition: 0.5s;
}

.res_link_logo {
    /* top: 50%;
    left: 50%; */
    color: azure;
    font-size: 40px;
}

.res_link:hover {
    border: 1px solid azure;
    background-color: rgba(0, 0, 0, 0.4);
}


/* ----------------------------------------------- */
/* End of styling the resume tab */
/* ----------------------------------------------- */


.me-abouts {
    background-color: #0b0c10;
    background-size: cover;
    color: #c5c6c7;
    text-align: center;
}

.title--abouts {
    color: #66fcf1;
    position: relative;
}

.title--abouts::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #fff;
    opacity: 0.25;
}

.abouts {
    margin-bottom: 4em;
}

.about {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .abouts {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .about+.about {
        margin-left: 2em;
    }
}


/* ----------------------------------------------- */
/* End of styling the about me section */
/* ----------------------------------------------- */


.logo-list {
    align-items: center;
    text-align: center;
    background-color: #0b0c10;
    background-image: url(img/programing.jpg);
    background-size: cover;
    color: #edf0f3;
}

.title--logos {
    color: #edf0f3;
    position: relative;
}

.title--logos::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #fff;
    opacity: 0.25;
    margin-bottom: 8rem;
}

.logos {
    margin-bottom: 6.5em;
}

.app_logo {
    height: 100px;
}

.logo_container {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}

@media (min-width: 800px) {
    .logos {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .app_logo+.app_logo {
        margin-left: 2em;
    }
}

.logo_container .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 600ms;
    width: 120px;
    background-color: rgba(197, 198, 199, 0.2);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}

.logo_container .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.logo_container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 600ms;
}

.exp {
    font-size: 7rem;
    color: #66fcf1;
}

/* ----------------------------------------------- */
/* End of styling the experience section */
/* ----------------------------------------------- */


.contacts {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 190px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
}

.contact-content {
    text-align: center;
    color: #66fcf1;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0);
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.switch:hover,
.switch:focus {
    color: #c5c6c7;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.7s ease 0s;
}

.social-list__icon {
    margin: 0 1em;
    color: #66fcf1;
}

.iconcolor {
    transition: all 1.3s ease 0s;
    color: #66fcf1;
}

.title--resume {
    color: #66fcf1;
    position: relative;
}

.title--resume::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 0.5em;
    background: #fff;
    opacity: 0.25;
}

/* ----------------------------------------------- */
/* End of styling the contacts section */
/* ----------------------------------------------- */


.projects {
    text-align: center;
}

.title--projects {
    color: #66fcf1;
    position: relative;
}

.title--projects::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: #fff;
    opacity: 0.25;
    margin-bottom: 5rem;
}

.project {
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 4rem;
    height: 530px;
    border-right: none;
    border-bottom: none;
}

.project_image {
    width: 80%;
    height: 300px;
    margin-top: 42px;
    background-position: center;
    background-size: cover;
    border: 2px solid #edf0f3;
    z-index: 2;
    position: absolute;
    box-shadow: inset 0px 0px 40px 10px rgba(0, 0, 0, 1);
}

.project_title {
    width: 80%;
    height: 70px;
    text-align: center;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    color: #66fcf1;
    background-color: #3b3b3b;
    border: 1px solid #45a29e;
    z-index: 1;
    position: absolute;
    margin-left: 1px;
    margin-top: 0px;
}

.project_description::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    border: 2px solid transparent;
}

.project_description::-webkit-scrollbar-track {
    background-color: transparent;
}

.project_description::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.project_description {
    text-align: center;
    height: 110px;
    width: 80%;
    position: absolute;
    margin-left: 1px;
    margin-top: 370px;
    height: 110px;
    overflow-y: scroll;
    padding-right: 20px;
}

.project_link {
    text-align: center;
    width: 80%;
    padding-left: 1px;
    position: absolute;
    margin-left: 0px;
    margin-top: 500px;
}

.project_languages {
    text-align: center;
    width: 80%;
    padding-left: 1px;
    position: absolute;
    margin-left: 0px;
    margin-top: 530px;
}

@media (min-width: 850px) {
    .project {
        height: 350px;
    }

    .project_image {
        width: 40%;
        margin-top: 0px;
    }

    .project_title {
        width: 55%;
        padding-left: 15%;
        padding-top: 8px;
        margin-left: 27%;
        margin-top: 10px;
        height: auto;
    }

    .project {
        border-right: 2px solid rgb(255, 255, 255, 0.3);
        border-bottom: 2px solid rgb(255, 255, 255, 0.3);
    }

    .project_description {
        width: 36%;
        margin-left: 43%;
        margin-top: 90px;
        padding-right: 20px;
    }

    .project_link {
        width: 36%;
        margin-left: 43%;
        margin-top: 220px;
        padding-left: 0px;
    }

    .project_languages {
        width: 42%;
        padding-left: 0px;
        margin-left: 40%;
        margin-top: 270px;
    }
}


/* ----------------------------------------------- */
/* End of styling the Projects */
/* ----------------------------------------------- */



.footer {
    background: #0b0c10;
    color: #66fcf1;
    text-align: center;
    padding: 1em 0;
    font-size: 1.5rem;

}

.footer a {
    color: inherit;
    text-decoration: none;
}

.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}